body {
  margin: 0;
  background-color: #f3f3f3;
}

.form {
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px 20px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .15);
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px;
}
